body {
    margin: 0;
    padding: 0;
}
html {
    /*隐藏滚动条，当IE下溢出，仍然可以滚动*/
    -ms-overflow-style: none;
    /*火狐下隐藏滚动条*/
    overflow: -moz-hidden-unscrollable;
}
::-webkit-scrollbar {
    display: none;
}
/* 设置全页面字体选中字体颜色和字体背景色 */
::selection {
    color:black;
    background-color:gray;
}
::-moz-selection {
    color:black;
    background-color:gray;
}
/* 取消HTML a标签默认下划线和颜色 */
a, a:link, a:hover, a:visited, a:focus {
    text-decoration: none;
}


/* 设置全页面背景色 */
.mainbody-outer {
    overflow: hidden;
}
.mainbody {
    background-color: rgb(245, 245, 245);
}



/* ------------
 * !!! Main !!!
 * ------------ */
.main {
    border: 2px solid blue;
    display: table;
    height: 100%;
    /* Here, cannot write width: 100% otherwise there will be extra horizontal space */
    max-width: 100%;
    padding-top: 3vh;
    padding-bottom: 5vh;
    padding-left: 9vw;
    padding-right: 9vw;
}
.main-left {
    border: 2px solid red;
    display: table-cell;
    width: 65%;
    padding-left: 1vw;
    padding-right: 1vw;
}
.main-right {
    border: 2px solid orange;
    display: table-cell;
    width: 35%;
    padding-left: 1vw;
    padding-right: 1vw;
}




/* -------------------
 * !!! Blog Editor !!!
 * ------------------- */
.blog-editor-div {
    border: 2px solid red;
    text-align: center;
}